*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.timeline-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-top: 40px;
}

.timeline-container::before{
    content: "";
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right,#00aaff, #00c26e);
}

.timeline-item{
    width: 23%;
    background: white;
    padding: 20px 10px;
    border-radius: 10px; 
    position: relative;
    z-index: 1;
    text-align: center;
}

.circle{
    width: 16px;
    height: 16px;
    background: #00aaff;
    border-radius: 50%;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item:first-child .circle{
    background: #00c26e;
}

.timeline-container:has(.timeline-item:nth-child(2):hover) 
.timeline-item:first-child .circle,
.timeline-container:has(.timeline-item:nth-child(3):hover) 
.timeline-item:first-child .circle,
.timeline-container:has(.timeline-item:nth-child(4):hover) 
.timeline-item:first-child .circle {
    background: #00aaff;
}

.timeline-item h3 {
  color: #0077cc;
  font-size: 20px;
  margin-bottom: 8px;
}

.timeline-item p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}


.timeline-item:hover .circle {
    background: #00c26e;
}

Hover effect
.timeline-item:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.timeline-item:hover .circle {
    background: #00c26e; 
    transition: background 0.3s ease;
}

@media (min-width: 1059px) {
    .timeline-item {
        width: 20%;
    }
    .timeline-item p {
    font-size: 25px;
    }
    .timeline-item h3 {
  font-size: 29px;
  margin-bottom: 25px;
}
    .circle {
    top: -50px;
    width: 20px;
    height: 20px;
}
.timeline-container::before {
    top: 37px;
    height: 5px;
}
}
@media (max-width: 775px) {
    .timeline-item {
        width: 23%;
    }
    .timeline-item p {
    font-size: 11px;
    }
    .timeline-item h3 {
  font-size: 15px;
}
    .circle {
    top: -50px;
}
.timeline-container::before {
    top: 37px;
    height: 5px;
}
}
@media (max-width: 480px) {
    .timeline-item {
        width: 23%;
    }
    .timeline-item p {
    font-size: 4.5px;
    }
    .timeline-item h3 {
  font-size: 8px;
}
    .circle {
    top: -20px;
    width: 8px;
    height: 8px;
}
.timeline-container::before {
    height: 4px;
}
}

